@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #E5E5E5;
}

/* all containers */

.main-container {
  flex-grow: 1;
}

.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 40px;
  box-sizing: border-box;
}

.page-container {
  width: 1200px;
}

.advantages-big-container {
width: 400px;
min-height: 384px;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 45px 0 35px 0;
}

.catalog-view-container {
  display: flex;
  margin-bottom: 56px;
}

.pagination-container {
  display: flex;
  flex-wrap: wrap;
}

/* navigation */

.navigation {
  display: flex;
  background-color: #ffffff;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
  margin-left: 70px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  font-weight: 700;
  text-align: center;
  background-color: inherit;
  text-decoration: none;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.navigation-list.navigation-user {
  margin-right: 70px;
}

/* main */

.main-logo-wrapper {
  margin: 0 auto;
  background-image: url("/images/index/divider-background.svg"),
    url("/images/index/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-color: #82B3D3;
  padding-top: 51px;
  padding-bottom: 82px;
}

.main {
  text-align: center;
  background-color: #ffffff;
}

.main-title {
  margin-top: 63px;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-description {
  margin: 0;
  padding-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* advantages */

.advantages {
  color: #333333;
  text-align: center;
}

.advantages-photo {
  display: block;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  list-style: none;
}

.advantages-item--big {
  width: 100%;
  display: flex;
}

.advantages-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  padding-top: 92px;
}

.advantages-title--big {
  color: #ffffff;
  padding-top: 92px;
}

.advantages-number {
  margin: 30px 0;
}

.advantages-number--big {
  margin: 30px 0;
}

.advantages-description {
  margin: 0;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(5) {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-last-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

/* search, newsletter */

.search,
.newsletter {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search {
  background-color: #ffffff;
}

.search-title {
  margin: 0;
  padding-top: 91px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.search-description {
  margin: 0;
  margin-top: 29px;
  margin-bottom: 56px;
  color: #333333;
}

.newsletter {
  background-image: url("/images/index/form-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  color: #ffffff;
  background-color: #82B3D3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter-title {
  margin: 0;
  padding-top: 94px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0;
  margin-top: 29px;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
}

/* contacts & social */

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-contacts-phone {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  width: 720px;
  height: 50px;
  text-align: center;
}

.footer-logo-item {
  margin-right: 70px;
}

/* inner */

.filter {
  background-image: url("/images/catalog/catalog-background-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #82B3D3;
  width: 1200px;
}

.inner-header-title {
  margin: 0;
  padding-top: 35px;
  font-size: 60px;
  line-height: 78px;
  margin-left: 70px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-left: 70px;
  list-style: none;
}

/* catalog */

.catalog {
  background-color: #ffffff;
  padding: 50px 71px 56px 72px;
}

.catalog-filter {
  display: flex;
}

.catalog-search {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.select-control {
  margin-left: 191px;
  width: 290px;
  height: 49px;
}

.catalog-filter-group {
  margin-left: 72px;
}

.product-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.product-card {
  padding: 20px;
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product-card:nth-child(3n+3) {
  margin-right: 0;
}

.product-card-link {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.product-card-title {
  margin: 16px 0;
}

.product-card-type,
.product-card-price {
  color: #333333;
}

/* pagination */

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  line-height: 36px;
  font-weight: 700;
  color:#ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-align: center;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

/* newsletter-catalog */

.newsletter-catalog {
  text-align: center;
}

.newsletter-catalog--white {
  background-color: #ffffff;
}

.newsletter-description-catalog {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* buttons */

.button {

  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: #756157;
  border-radius: 4px;
  border: none;
}

.button-catalog {
  text-decoration: none;
}

.button-newsletter {
  margin: 0;
  margin-bottom: 94px;
  background: #82B3D3;
}

.button-more {
  text-decoration: none;
}

.button-favorite {
  background: #82B3D3;
}

.button-favorite--current {
  background: #7DB54F;
}

.button-submit {
  background: #82B3D3;
}

.button-reset {
  background: none;
}

.catalog-view-container .button {
  width: 16px;
  height: 14px;
}


/* visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
